@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Rubik+Gemstones&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

.container {
    height: 380px;
    width: 100% !important;
    background-color: #2C2926;
    box-sizing: border-box;
}

nav {
    border-left: 1px solid #D2A898;
    border-right: 1px solid #D2A898;
    border-bottom: 1px solid #D2A898;
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    letter-spacing: 9px;
    padding-top: 60px;
    padding-left: 60px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #D2A898;
    padding-bottom: 120px;
}

ul {
    display: flex;
    color: aliceblue;
}

li {
    list-style: none;
    margin-left: 60px;
    padding-bottom: 50px;
}

span {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #D2A898;
    margin-left: 250px;
    position: relative;
    bottom: 15px;
}

.section {
    border-left: 1px solid #D2A898;
    border-right: 1px solid #D2A898;
    border-bottom: 1px solid #D2A898;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    bottom: 140px;
}

.one {
    margin: 50px;
    padding-top: 40px;
}

.one p {
    position: absolute;
    top: 280px;
    left: 180px;
    font-size: 22px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.one h1 {
    position: absolute;
    top: 270px;
    left: 120px;
    font-size: 2.4rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0;

}

.two {
    border-left: 1px solid #D2A898;
    border-right: 1px solid #D2A898;
    border-bottom: 1px solid #D2A898;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    bottom: 140px;
    text-align: center;
}

#head {
    letter-spacing: 0px;
    color: #2C2926;
    font-weight: bolder;
    font-size: 40px;
    width: 70%;
    margin-left: 10%;
}

#para1 {
    font-size: 24px;
    width: 65%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -8%;
    margin-left: 18%;
    line-height: 40px;
    word-spacing: 20px;
}

#para2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    width: 40%;
    margin-top: 2%;
    margin-left: 30%;
    line-height: 40px;
    word-spacing: 20px;
}

button {
    color: aliceblue;
    background-color: #A15231;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    font-size: 17px;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 100px;
    cursor: pointer;
}

.three {
    border-left: 1px solid #D2A898;
    border-right: 1px solid #D2A898;
    border-bottom: 1px solid #D2A898;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    bottom: 140px;
    display: flex;
}

.content h1 {
    color: #2C2926;
    font-weight: bold;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 80px;
    letter-spacing: 0px;
}

.content #p1 {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 80px;
    margin-right: 70px;
    line-height: 30px;
    word-spacing: 15px;
    margin-top: -13%;
}

.content #p2 {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 80px;
    margin-right: 70px;
    line-height: 30px;
    word-spacing: 15px;
    margin-top: 5%;
}

.content button {
    color: aliceblue;
    background-color: #A15231;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    font-size: 17px;
    width: 130px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: 80px;
    cursor: pointer;
}

.four {
    border-left: 1px solid #D2A898;
    border-right: 1px solid #D2A898;
    border-bottom: 1px solid #D2A898;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    bottom: 140px;
}

#on1 {
    width: 200px;
    margin-top: -5%;
    margin-left: 90px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#to2 {
    width: 200px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    left: 75%;
}

#th3 {
    width: 200px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 150px;
    bottom: 20px;
    left: 90px;
}

.sqr {
    height: 150px;
    background-color: #D2A898;
    width: 1px;
    margin: auto;
}

.sqrr {
    height: 180px;
    background-color: #D2A898;
    width: 1px;
    margin: auto;
    margin-top: 50px;
}

.circle1 {
    background-color: #807A5A;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    position: relative;
    left: 35%;
    bottom: 40px;
}

.circle1 h1 {
    font-size: 45px;
    color: white;
    font-family: "Rubik Gemstones", serif;
    font-weight: 400;
    padding-top: 30%;
    margin-left: 23%;
    font-style: normal;
}

.circle1 p {
    color: rgb(255, 255, 255);
    font-size: 28px;
    position: relative;
    left: 40%;
    bottom: 70px;
}

.circle2 {
    background-color: #83482f;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    left: 27%;
    bottom: 120px;
    opacity: 85%;
}

.circle2 h1 {
    font-size: 40px;
    color: white;
    font-family: "Rubik Gemstones", serif;
    font-weight: 400;
    padding-top: 30%;
    margin-left: 6%;
    font-style: normal;
}

.circle2 p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: relative;
    left: 34%;
    bottom: 70px;
}

.circle3 {
    background-color: #151724;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    left: 47%;
    bottom: 120px;
    opacity: 70%;
}

.circle3 h1 {
    font-size: 40px;
    color: #E2D6CB;
    font-family: "Rubik Gemstones", serif;
    font-weight: 400;
    padding-top: 30%;
    margin-left: 17%;
    font-style: normal;
}

.circle3 p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: relative;
    left: 33%;
    bottom: 70px;
}

.five {
    border-left: 1px solid #D2A898;
    border-right: 1px solid #D2A898;
    border-bottom: 1px solid #D2A898;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    bottom: 140px;
    display: flex;
}

.sec {
    background-color: #E6DCD3;
}

#pp {
    margin-top: 20%;
}

.five p {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 80px;
    margin-right: 70px;
    line-height: 30px;
    margin-top: -15%;
}

.five h1 {
    color: #2C2926;
    font-weight: bold;
    font-size: 40px;
    margin-top: -5%;
    margin-left: 20px;
    margin-right: 80px;
    letter-spacing: 0px;
}

form {
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 20px;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    font-size: 22px;
    padding: 20px;
    width: 80%;
    font-family: cursive;
}

form button {
    font-size: 12px;
    background-color: black;
    color: white;
    width: 90%;
    padding: 15px;
    font-family: cursive;
    border-radius: 10px;
    cursor: pointer;
}

.six {
    border-left: 1px solid #D2A898;
    border-right: 1px solid #D2A898;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    bottom: 140px;
    display: flex;
}

#head1 {
    color: rgb(44, 41, 38);
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: absolute;
    left: 37%;
    top: 0%;
    letter-spacing: 2px;
    text-wrap: nowrap;
}

.main {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15%;
}

.image1 h1 {
    color: #1d1b1a;
    font-size: 24px;
    letter-spacing: 0px;
    font-weight: bold;
    margin-left: -70px;
    margin-top: -20px;
}

.image1 p {
    color:rgb(44, 41, 38);
    font-size: 20px;
    width: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -15%;
    line-height: 40px;
    margin-left: 15%;
    line-height: 30px;
}

.image2 h1 {
    color: #1d1b1a;
    font-size: 24px;
    letter-spacing: 0px;
    font-weight: bold;
    margin-right: 50px;
    margin-top: -20px;
}

.image2 p {
    color:rgb(44, 41, 38);
    font-size: 20px;
    width: 70%;
    word-spacing: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -18%;
    margin-left: 15%;
    line-height: 40px;
    line-height: 30px;
}
h2{
    color: #8D8B89;
    border-bottom: 1px solid #8D8B89;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    width: 180px;
    letter-spacing: 2.5px;
    margin-left: 37%;
    padding: 20px;
}
.seven{
    border-left: 1px solid #D2A898;
    border-right: 1px solid #D2A898;
    border-bottom: 1px solid #D2A898;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    bottom: 140px;
    
}
.main2{
    display: flex;
    justify-content: center !important;
    padding-top: 10%;
    padding-bottom: 150px;
}
.image3 ,.image4 img{
    margin-left: 8% ;
}
.image3 h1 {
    color: #1d1b1a;
    font-size: 24px;
    letter-spacing: 0px;
    font-weight: bold;
    margin-left: -35px;
    margin-top: -25px;
}

.image3 p {
    color:rgb(44, 41, 38);
    font-size: 20px;
    width: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -20%;
    line-height: 40px;
    margin-left: 5%;
    line-height: 30px;
    word-spacing: 5px;
    text-align: center;
}
.image4 h1 {
    color: #1d1b1a;
    font-size: 24px;
    margin-left: -2%;
    letter-spacing: 0px;
    font-weight: bold;
    margin-top: -25px;
}

.image4 p {
    color:rgb(44, 41, 38);
    font-size: 20px;
    width: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -16%;
    line-height: 40px;
    margin-left: 13%;
    line-height: 30px;
    word-spacing: 5px;
    text-align: center;
}
#hh{
    color: #8D8B89;
    border-bottom: 1px solid #8D8B89;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    width: 180px;
    letter-spacing: 2px;
    margin-left: 25%;
    padding: 20px;
}
#hhh{
    color: #8D8B89;
    border-bottom: 1px solid #8D8B89;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    width: 180px;
    letter-spacing: 2px;
    margin-left: 30%;
    padding: 20px;
}
.eight{
    border-left: 1px solid #D2A898;
    border-right: 1px solid #D2A898;
    border-bottom: 1px solid #D2A898;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    bottom: 140px;
}
.header{
    color: #151724;
    letter-spacing: 0px;
    font-size: 24px;
    padding: 30px; 
    text-align: center;
}
.nine{
    border-left: 1px solid #D2A898;
    border-right: 1px solid #D2A898;
    border-bottom: 1px solid #D2A898;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    bottom: 140px;
}
iframe{
    padding: 50px;
}